* {
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content input {
    width: 50%;
    display: flex;
}
input {
    margin-bottom: 5px;
    height: 35px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}